.loginBackground {
  max-width: 240px;
  max-height: 320px;
  background-image: linear-gradient(
    180deg,
    #001831fa,
    #00356ed4,
    #1e5896c2,
    #00356ec1
  );
}
.wrapper {
  max-height: 300px;
  overflow-y: auto;
}
.logo {
  width: 30vw;
  margin: 8vh auto 6vh auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginInput {
  padding: 4vh 4vh 4vh 2vh;
  background: transparent;
  border: transparent;
  border-bottom: 1.5px solid #999;
  outline: none;
  color: #eee;
  caret-color: lime;
}
.loginInput::placeholder {
  color: #ddd;
}
.loginInput:focus{
  border-bottom: 2.5px solid #bbbccb;
}
.loginBtn {
  text-transform: uppercase;
  background-color: rgb(56, 211, 195);
  color: #fff;
  border-radius: 1rem;
  padding: 3vh 18vw;
  margin: 10vh auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.loginBtn:focus{
  box-shadow: 0px 0px 9px rgb(0, 255, 234);
}
.btnwrapper{
    position: relative;
}
.iconbtn{
    position: absolute;
    right: 5%;
    top: 4vh;
    color: #eee;
    border-radius: 50%;
}
.iconbtn:focus{
  box-shadow: 0px 0px 6px #fff;
  background-color: #dddddd73;
}